<%- include('./partials/head.ejs') %>
 
<%- include('./partials/nav.ejs') %>
<hr>



<div class="product_cont">
  
    <div class="ProductList">
        <ul>
            <li><a href="/products"><span>All Products</span></a></li>
            <% for (var i=0 ; i< categories.length;++i){%>
                <li><a href="/product/<%= categories[i].title %>"><span><%= categories[i].title %></span></a></li>
    
               
               <% }%>
        </ul>
        
     
    
    </div>
<div class="showProduct">
    <H2>New Products</H2>
    <% for (var i=0 ; i< 5;++i){%>
        <div  class="Product-desplay">
            <a href="/product/<%= products[i].category %>/<%= products[i].title %>">
                <% if(products[i].image == "") { %>
                    <img src="/Images/default.png" alt="" class="Product_Img">
                  
                    <% }else { %>
                        <img src="/Images_Product/<%= products[i]._id %>/<%= products[i].image %>" alt="" class="Product_Img">
                        <% } %>
            </a>
        <li style="margin-top:10px;font-weight: bold; text-transform:uppercase;"><span><%= products[i].title %></span></li>
        <li> <span><%= products[i].price %> DH</span></li>
       
        <li><a href="/product/<%= products[i].category %>/<%= products[i].title %>"><span>More Details</span></a></li>

</div>
       <% }%>


 
     
                
           
    </div>